experiments/** -text whitespace=cr-at-eol,-blank-at-eof
lab2/** -text whitespace=cr-at-eol,-blank-at-eof
lab3/** -text whitespace=cr-at-eol,-blank-at-eof
lab4/** -text whitespace=cr-at-eol,-blank-at-eof
